html, body {
    width: 100%;
    height: 100%;
    background: rgb(2, 2, 15);
    overflow-x: hidden;
}
.content {
    width: 100%;
    height: auto;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content h1, p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    letter-spacing: 4px;
    text-shadow: 0px 0px 50px white;
    color: white;
}
.content .typewriter {
    margin: 70px;
}
.content .search {
    gap: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content .search .box {
    border: 1px solid white;
    padding: 80px;
    border-radius: 10px;
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.222);
    gap: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.content .search input {
    width: 500px;
    margin: 10px;
    text-align: center;
    letter-spacing: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    height: 50px;
    background: none;
    outline: none;
    border-radius: 10px;
    border: 1px solid white;
    user-select: none;
    color: gray;
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.142);
}
.content .search .images .image-container img {
    height: 250px;
}
